body{
    background-color: rgb(10, 10, 10);
}
.arrow{
    width: 25px;
    margin-left: 5px;  
}
.arrow-button{
    background-color: rgb(10, 10, 10);
    border:none;
    border-radius: 20px;
    height: 40px;
    width: 40px;

}
.arrow-button:hover{
    background-color: rgb(50, 50, 50);
}
.arrow-button:active{
    background-color: rgb(60, 60, 60);
}
.yt-logo{
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
}
.yt{
    display: flex;
    width: 110px;
    margin-left: 0;
    flex-shrink: 1;
    margin-right: 1000px;
    cursor: pointer;
}
@media(max-width:600px){
    .yt{
        margin-right: 220px;
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(10, 10, 10);
    gap: 15px;
    padding: 10px 20px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    z-index: 1000;

}
.bell-container{
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.bell-container:hover{
    background-color: rgb(50, 50, 50);
}
.bell-container:active{
    background-color: rgb(60, 60, 60);
}
.bell-icon{
    width: 30px;
   height: 30px;
   padding-left: 3px;
}
.notification-count{
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: red;
    margin-left: 17px;
    margin-top: 0;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    padding-left: 3px;
    padding-bottom: 2px;
}
.search{
   display: flex;
   align-items: center;
   width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width:600px){
    .search{
        margin-left: -80px;
    }
}
.search-icon{
    width: 30px;
   height: 30px;
   padding-left: 5px;
}
.search:hover{
    background-color: rgb(50, 50, 50);
}
.search:active{
    background-color: rgb(60, 60, 60);
}
.setting-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width:600px){
    .setting-button{
        width: 40px;
        height: 40px;
        margin-left: -10px;
    }
}
.settings-icon{
   width: 30px;
   height: 30px;
}
.setting-button:hover{
    background-color: rgb(50, 50, 50);
}
.setting-button:active{
    background-color: rgb(60, 60, 60);
}
.sidebar{
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    background-color: rgb(10, 10, 10);
    width:100px;
    display: flex;
    flex-direction: column;
    /* border-right-width: 1px;
    border-right-style: solid;
    border-right-color:rgb(148, 148, 148); */
}
@media(max-width:600px){
    .sidebar{
        top:auto;
        bottom:0;
        left:0;
        width:100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        z-index: 1000;
    }
    .link{
        margin-top: -25px;
        width: 100%;
        height: 98%;
    }
}
/* .home-button-container{
    position: relative;
} */
.home-button{
    position: relative;
    margin-top: 25px;
    height: 70px;
    width: 98%;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    
}
@media(max-width:600px){
    .home-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.home-button:hover{
    background-color: rgb(50, 50, 50);
}
.home-button:active{
    background-color: rgb(60, 60, 60);
}
.home-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .home-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.home{
    position: absolute;
    padding-left: 22px;
    padding-top: 6px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
@media(max-width:600px){
    .home{
        margin-top: 5px;
    }
}
.shorts-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .shorts-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.shorts-button:hover{
   background-color: rgb(50, 50, 50);
}
.shorts-button:active{
    background-color: rgb(60, 60, 60);
}
.shorts-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .shorts-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.shorts{
    position: absolute;
    padding-left: 18px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
@media(max-width:600px){
    .shorts{
        margin-top: 3px;
    }
}
.subscription-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .subscription-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.subscription-button:hover{
    background-color: rgb(50, 50, 50);
}
.subscription-button:active{
    background-color: rgb(60, 60, 60);
}
.subscription-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .subscription-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.subscription{
    position: absolute;
    padding-left: 1px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
@media(max-width:600px){
    .subscription{
        margin-top: 3px;
    }
}
.you-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .you-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.you-button:hover{
     background-color: rgb(50, 50, 50);
}
.you-button:active{
    background-color: rgb(60, 60, 60);
}
.you-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .you-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.you{
    position: absolute;
    padding-left: 28px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold; 
    color: white;
}
@media(max-width:600px){
    .you{
        margin-top: 3px;
    }
}
.downloads-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .downloads-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.downloads-button:hover{
   background-color: rgb(50, 50, 50);
}
.downloads-button:active{
    background-color: rgb(60, 60, 60);
}
.download-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .download-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.downloads{
    position: absolute;
    padding-left: 6px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;   
    color: white;
}
@media(max-width:600px){
    .downloads{
        margin-top: 3px;
    }
}
.shorts-layout{
    display: flex;
    width: 500px;
    height: 450px;
    background-color: rgb(50, 50, 50);
    margin-left: 400px;
    border-radius: 15px;
    margin-top: 80px;
    position: relative;
}
@media(max-width:600px){
    .shorts-layout{
        margin-left: 0px;
        width: 450px;
        height: 430px;
        margin-right: -150px;
    }
}
.lo{
    background-color: rgb(26, 26, 26);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 360px;
    margin-left: 10px;
}
@media(max-width:600px){
    .lo{
        margin-top: 350px;
        width: 35px;
        height: 35px;
    }
}
.name{
    background-color: rgb(26, 26, 26);
    width: 250px;
    height: 20px;
    margin-top: 360px;
    margin-left: 5px;
    border-radius: 15px;
}
@media(max-width:600px){
    .name{
        margin-top: 355px;
        height: 10px;    
    }
}
.desc{
    background-color: rgb(26, 26, 26);
    width: 200px;
    height: 20px;
    margin-top: 400px;
    margin-left: -248px;
    border-radius: 15px;
}
@media(max-width:600px){
    .desc{
        margin-top: 375px;
        height: 10px;    
    }
}
.im{
    color: rgb(179, 176, 176);
    font-size: 20px;
    font-weight: bold;
    font-family: Bebas Beue;
    margin-bottom: 0;
    margin-left: -50px;
    animation: falldown 0.6s ease-out forwards;
    animation-delay: 0s;
}
@keyframes falldown{
    0%{
        transform: translateY(-200px) rotate(-10deg);
        opacity: 0;
    }    
    70%{
        transform: translateY(20px) rotate(10deg);
        opacity: 1;
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
.working{
    color: rgb(179, 176, 176);
    font-size: 20px;
    font-weight: bold;
    font-family: Bebas Beue;
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: -80px;
    animation: falldown 0.6s ease-out forwards;
    animation-delay: 0.2s;
}
@keyframes falldown{
    0%{
        transform: translateY(-200px) rotate(-10deg);
        opacity: 0;
    }    
    70%{
        transform: translateY(20px) rotate(10deg);
        opacity: 1;
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
.on{
    color: rgb(179, 176, 176);
    font-size: 20px;
    font-weight: bold;
    font-family: Bebas Beue;
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: -55px;
    animation: falldown 0.6s ease-out forwards;
    animation-delay: 0.4s;
}
@keyframes falldown{
    0%{
        transform: translateY(-200px) rotate(-10deg);
        opacity: 0;
    }    
    70%{
        transform: translateY(20px) rotate(10deg);
        opacity: 1;
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
.this{
    color: rgb(179, 176, 176);
    font-size: 20px;
    font-weight: bold;
    font-family: Bebas Beue;
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: -60px;
    animation: falldown 0.6s ease-out forwards;
    animation-delay: 0.6s;
}
@keyframes falldown{
    0%{
        transform: translateY(-200px) rotate(-10deg);
        opacity: 0;
    }    
    70%{
        transform: translateY(20px) rotate(10deg);
        opacity: 1;
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
.feature{
    color: rgb(179, 176, 176);
    font-size: 20px;
    font-weight: bold;
    font-family: Bebas Beue;
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: -80px;
    animation: falldown 0.6s ease-out forwards;
    animation-delay: 0.8s;
}
@keyframes falldown{
    0%{
        transform: translateY(-200px) rotate(-10deg);
        opacity: 0;
    }    
    70%{
        transform: translateY(20px) rotate(10deg);
        opacity: 1;
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
.rightsidebar{
    position: fixed;
    top: -50px;
    bottom: 0;
    right: 0;
    width:100px;
    margin-right: 450px;
    margin-bottom: 0px;
    border-radius: 35px;
}
@media(max-width:600px){
    .rightsidebar{
        margin-right: 30px;
        margin-top: 0;
    }
}
.like-icon{
    position: absolute;
    width: 30px;
    margin-top: 240px;
    margin-left: 35px;
    color: rgb(26, 26, 26);;
}
.dislike-icon{
    position: absolute;
    width: 30px;
    padding-top: 340px;
    margin-left: 35px;
    opacity: 0.4;
}
.share-icon{
    width: 30px;
    padding-top: 440px;
    margin-left: 35px;
}
.footer-text{
    color: gray;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}