body{
    background-color: rgb(10, 10, 10);
    padding-bottom: 100px;
    padding-bottom: 800px;
}
.arrow{
    width: 25px;
    margin-left: 5px;  
}
.arrow-button{
    background-color: rgb(10, 10, 10);
    border:none;
    border-radius: 20px;
    height: 40px;
    width: 40px;

}
.arrow-button:hover{
    background-color: rgb(50, 50, 50);
}
.arrow-button:active{
    background-color: rgb(60, 60, 60);
}
.yt-logo{
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
}
.yt{
    display: flex;
    width: 110px;
    margin-left: 0;
    flex-shrink: 1;
    margin-right: 1000px;
    cursor: pointer;
}
@media(max-width:600px){
    .yt{
        margin-right: 170px;
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(10, 10, 10);
    gap: 15px;
    padding: 10px 20px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    z-index: 1000;

}
.bell-container{
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
@media(max-width:600px){
    .bell-container{
        margin-left: -90px;
    }
}
.bell-container:hover{
    background-color: rgb(50, 50, 50);
}
.bell-container:active{
    background-color: rgb(60, 60, 60);
}
.bell-icon{
    width: 30px;
   height: 30px;
   padding-left: 3px;
}
.notification-count{
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: red;
    margin-left: 17px;
    margin-top: 0;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    padding-left: 3px;
    padding-bottom: 2px;
}
.search{
   display: flex;
   align-items: center;
   width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media(max-width:600px){
    .search{
        margin-left: -17px;
    }
}
.search-icon{
    width: 30px;
   height: 30px;
   padding-left: 5px;
}
.search:hover{
    background-color: rgb(50, 50, 50);
}
.search:active{
    background-color: rgb(60, 60, 60);
}
.setting-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width:600px){
    .setting-button{
        width: 40px;
        height: 40px;
        
    }
}
.settings-icon{
   width: 30px;
   height: 30px;
}
.setting-button:hover{
    background-color: rgb(50, 50, 50);
}
.setting-button:active{
    background-color: rgb(60, 60, 60);
}
.logo-class{
    display: flex;
    width: 100%;
    height: 70px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

@media (max-width:600px){
    .logo-class{
       margin-left: 10px;
    }
 }
.logos{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    position: relative;
}

.logo{
 display: flex;
 width: 40px;
 height: 40px;
 background-color: rgb(60, 60, 60);
 margin-left: 10px;
 border-radius: 50%;
}
.logoss{
 display: flex;
 width: 40px;
 height: 40px;
 background-color: rgb(60, 60, 60);
 margin-left: 10px;
 border-radius: 50%;
 position: relative;
}
@media(max-width:600px){
    .logo{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.dot{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -40px;
    top: 125px;
}
@media(max-width:600px){
    .dot{
        right: -10px;
    }
}
.dot1{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 145px;
    top: 125px;
}
@media(max-width:600px){
    .dot1{
        right: 50px;
    }
}
.dot2{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 330px;
    top: 125px;
}
@media(max-width:600px){
    .dot2{
        right: 115px;
    }
}
.dot3{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 515px;
    top: 125px;
}
@media(max-width:600px){
    .dot3{
        right: 175px;
    }
}
.dot4{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 700px;
    top: 125px;
}
@media(max-width:600px){
    .dot4{
        right: 235px;
    }
}
.dot5{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 885px;
    top: 125px;
}
@media(max-width:600px){
    .dot5{
        right: 300px;
    }
}
.dot6{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 1075px;
    top: 125px;
}
@media(max-width:600px){
    .dot6{
        right: 360px;
    }
}
.dot7{
    position: absolute;
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 1260px;
    top: 125px;
}
@media(max-width:600px){
    .dot7{
        right: 424px;
    }
}
.title{
    display: flex;
    width: 320px;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left: 60px;
    margin-top: -60px;
    border-radius: 20px;
}
@media(max-width:600px){
    .title{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.stats{
    display: flex;
    width: 100px;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left:60px ;
    margin-top: -10px;
    border-radius: 20px;
}
@media(max-width:600px){
    .stats{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.logo1{
 display: flex;
 width: 40px;
 height: 40px;
 background-color: rgb(60, 60, 60);
 margin-left: 475px;
 margin-top: -60px;
 border-radius: 50%;
}
@media(max-width:600px){
    .logo1{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.title1{
    display: flex;
    width: 320px;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left: 525px;
    margin-top: -60px;
    border-radius: 20px;
}
@media(max-width:600px){
    .title1{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.stats1{
    display: flex;
    width: 100px;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left:525px ;
    margin-top: -10px;
    border-radius: 20px;
}
@media(max-width:600px){
    .stats1{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.logo2{
 display: flex;
 width: 40px;
 height: 40px;
 background-color: rgb(60, 60, 60);
 margin-left: 950px;
 margin-top: -60px;
 border-radius: 50%;
}
@media(max-width:600px){
    .logo2{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.title2{
    display: flex;
    width: 320px;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left: 1000px;
    margin-top: -60px;
    border-radius: 20px;
}
@media(max-width:600px){
    .title2{
        display: none;
        background-color: rgb(10, 10, 10);
    }
}
.stats2{
    display: flex;
    width: 100px;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left:1000px ;
    margin-top: -10px;
    border-radius: 20px;
}
@media(max-width:600px){
    .stats2{
        display: none;
        background-color: rgb(10, 10, 10);
    }
} 
 .whole-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    margin-top: 70px;
    column-gap: 20px;
    margin-left: 110px;
 }
 @media (max-width:600px){
    .whole-grid{
        grid-template-columns: 1fr;
        height: 450px;
        margin-left: 10px;
        row-gap: 30px;
        margin-right: 10px;
    }
 }
 .thum{
    width: 100%;
    height: 160px;
    background-color: rgb(60, 60, 60);
    margin-top: 10px;
    border-radius: 20px;
 }
 .log{
    width: 15%;
    height: 45px;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
    margin-top: 0;
 } 
 @media (max-width:600px){
    .log{
        width: 0;
        height: 0;
    }
 }
 .ti{
    width: 50%;
    height: 20px;
    background-color: rgb(60, 60, 60);
    margin-left: 17%;
    margin-top: -50px;
    border-radius: 20px;
 }
 @media (max-width:600px){
    .ti{
        width: 0;
        height: 0;
    }
 }
 .sta{
    width: 20%;
    height:17px;
    background-color: rgb(60, 60, 60);
    margin-left: 17%;
    margin-top: -30px;
    border-radius: 20px;
 }
 @media (max-width:600px){
    .sta{
        width: 0;
        height: 0;
    }
 }
 .sidebar{
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    background-color: rgb(10, 10, 10);
    width:100px;
    display: flex;
    flex-direction: column;
    /* border-right-width: 1px;
    border-right-style: solid;
    border-right-color:rgb(148, 148, 148); */
}
@media(max-width:600px){
    .sidebar{
        top:auto;
        bottom:0;
        left:0;
        width:100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        z-index: 1000;
    }
    .link{
        margin-top: -25px;
        width: 100%;
        height: 98%;
    }
}
/* .home-button-container{
    position: relative;
} */
.home-button{
    position: relative;
    margin-top: 25px;
    height: 70px;
    width: 98%;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    
}
@media(max-width:600px){
    .home-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.home-button:hover{
    background-color: rgb(50, 50, 50);
}
.home-button:active{
    background-color: rgb(60, 60, 60);
}
.home-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .home-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.home{
    position: absolute;
    padding-left: 22px;
    padding-top: 6px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
@media(max-width:600px){
    .home{
        margin-top: 5px;
    }
}
.shorts-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .shorts-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.shorts-button:hover{
   background-color: rgb(50, 50, 50);
}
.shorts-button:active{
    background-color: rgb(60, 60, 60);
}
.shorts-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .shorts-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.shorts{
    position: absolute;
    padding-left: 18px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
@media(max-width:600px){
    .shorts{
        margin-top: 3px;
    }
}
.subscription-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .subscription-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.subscription-button:hover{
    background-color: rgb(50, 50, 50);
}
.subscription-button:active{
    background-color: rgb(60, 60, 60);
}
.subscription-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .subscription-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.subscription{
    position: absolute;
    padding-left: 1px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
@media(max-width:600px){
    .subscription{
        margin-top: 3px;
    }
}
.you-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .you-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.you-button:hover{
     background-color: rgb(50, 50, 50);
}
.you-button:active{
    background-color: rgb(60, 60, 60);
}
.you-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .you-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.you{
    position: absolute;
    padding-left: 28px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold; 
    color: white;
}
@media(max-width:600px){
    .you{
        margin-top: 3px;
    }
}
.downloads-button{
    position: relative;
    height: 70px;
    width: 98%;
    margin-top: 25px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
}
@media(max-width:600px){
    .downloads-button{
        width: 100%;
        flex: 1;
        text-align: center;
        height: 100%;
    }
}
.downloads-button:hover{
   background-color: rgb(50, 50, 50);
}
.downloads-button:active{
    background-color: rgb(60, 60, 60);
}
.download-icon{
    position: absolute;
    height: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    padding-top: 2px;
}
@media(max-width:600px){
    .download-icon{
        width: 25px;
        height: 25px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.downloads{
    position: absolute;
    padding-left: 6px;
    padding-top: 10px;
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: bold;   
    color: white;
}
@media(max-width:600px){
    .downloads{
        margin-top: 3px;
    }
}
.footer-text{
    color: gray;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}
@media(max-width:600px){
    .footer-text{
        margin-top: 500px;
    }
}