            
            .thumbnail{
                width: 300px;
                display: block;
                border-radius: 15px;
            }
            .video-title{
                font-size: 14px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 13px;
                color: white;
            }
            .video-info-grid{
                display: grid;
                grid-template-columns: 50px 1fr;
            }
            .channel-picture{
                display: inline-block;
                width: 30px;
                vertical-align: top;
            }
            .logo{/* profile-picture*/
                width: 40px;
                height: 37px;
                border-radius: 100%;
            }
            .thumbnail-row{
                margin-bottom:10px;
                width: 100%;
                position: relative;
            }
            .thumbnail{
                width: 100%;
                border-radius: 10px;
                border-color: white;
                border-width: solid;
            }
            .video-author{
                font-size: 12px;
                color: rgb(137, 139, 139);
            }
            .video-stats{
                font-size: 12px;
                color: rgb(137, 139, 139);
            }
            .video-grid{
                display: grid;
                grid-template-columns:1fr 1fr 1fr;
                column-gap: 15px;
                row-gap:40px;
            }
            @media (max-width:600px){
                .video-grid{
                    grid-template-columns: 1fr;
                    row-gap: 13px;
                }
            }
            .video-button{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                border-radius:15px ;
                cursor: pointer;
                z-index: 1000;
                border: none;
            }
            .video-time{
                background-color: black;
                opacity: 0.7;
                color: white;
                position: absolute;
                bottom: 5px;
                right:10px;
                border-radius: 5px;
                font-family: roboto,arial;
                font-size: 15px;
                font-weight: 500;
                padding-left: 4px;
                padding-right: 4px;
                padding-top: 4px;
                padding-bottom: 7px;
                margin-bottom: 10px;
            }